.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.locked_item {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 160px;
  max-height: calc(100vh - 536px);
  margin: 0;
  padding: 0 8px 0 0;
  overflow-y: auto;
  list-style: none;
}

.item {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 8px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.placeholder_item {
  padding-left: 32px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 536px;
  min-height: 80px;
  background: var(--background-element);
  border-radius: var(--common-border-radius-s);
}

.placeholder_top {
  border-radius: var(--top-constructor-item-border-radius);
}

.placeholder_bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}
