.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  margin: 0 auto;
  padding-top: 120px;
  text-align: center;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}
